@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open san', sans-serif;


}
body {
    background: #f5f6fa;

}
.wrapper .sidebar{
    background: rgb(5,68,104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}
.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.wrapper .sidebar .profile h3{
   color: #ffffff;
   margin: 10px 0 5px; 
}
.wrapper .sidebar .profile p{
    color: rgb(206, 204, 253);
    font-size: 14px;

}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d ;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;

}
.wrapper .sidebar ul li a.icon{
color: #dee4ec;
width: 30px;
display: inline-block;

}
/*link hover*/
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5,68,104);
}
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a:active .icon{
    color: #0c7db1;
}
.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a:active::before{
    display: block;
}
.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
    background-color: rgb(74, 132, 180);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}
.wrapper .section .top_navbar.hamburger a{
    font-size: 28px;
    color: #f4fbff;


}
.wrapper .section .top_navbar .hamburger a:hover{
    color: #a3ecff;}

.box-area {
    padding: 30px;
}

.box-section {
    display: flex;
    margin-bottom: 50px;
}

.box{
    width: 479px;
    margin: 0 11px;
    /* border: 1px solid black; */
    border-radius: 2px;
    padding: 15px 0;
}

.box1{
    background-color: blue;
}
.box2{
    background-color: green;

}
.box3{
    background-color: yellow;
}
.flex-box{
    display: flex;
    width: 100%;
}

.flex-box1 {
    width: 15%;
    background-color: pink;

}

.flex-box2 {
    width: 84%;
    display: flex;
    flex-direction: column;;

}

.flex-box1, .flex-box2 {
    /* border: 1px solid black; */
    height: 60vh;
}

.inner-box{
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
    
}

.inner-box1 {
    display: flex;
    ;
}

.inner-box2 {
    background-color: #a3ecff
}

.inner-box3 {
    background-color: lightcoral;
}

.deep-box{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.deep-box1{
    background-color: yellowgreen;
}

.deep-box2{
    background-color: aqua;
}